[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "uvicorn apartment.server:asgi_app --reload"
flake8check = "flake8 ${PACKAGE_NAME}"
pylintcheck = "pylint ${PACKAGE_NAME}"
tests = "python -m pytest"

[packages]
sanic = "*"
uvicorn = "*"
gunicorn = "*"
pymongo = "*"
marshmallow = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
bump2version = "*"
twine = "*"
codecov = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
